<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <script>
    function validate()
    {
      var a=documents.forms["formulaire"]["pwd"].value;
      var b=documents.forms["formulaire"]["pwd1"].value;
      if(!(a==b))
      {
        alert("both passwords are not matching");
        return false;
      }
      return true;
    }
        </script>




</head>

<body ng-app="aa" >

    <div class="container bootstrap snippet" style="margin-top:-20px;margin-left: 250px" >


  <div class="col-sm-9">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #B31919 !important">

        <ul class="navbar-nav" id="myTab" >
            <li class="nav-item"><a href="#liste" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:150px" data-toggle="tab">Liste d'experts </a></li>
          <li class="nav-item"><a href="#ajout" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:10px " data-toggle="tab">Ajouter un expert </a></li>

          <li class="nav-item"><a href="#supprimer" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:10px" data-toggle="tab">Supprimer un expert</a></li>
        </ul>
     
      </nav>


        <div class="tab-content">
                <div class="tab-pane active" id="liste" >

                    <table class="table table-striped table-hover" ng-controller="Control" >
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>nom</th>
                                <th>prenom</th>
                                <th>Email</th>
                                <th>tel</th>
                                <th>login</th>
                                <th>mdp</th>

                            </tr>
                        </thead>

                        <tbody>

                       <tr  ng-repeat="item in expert">

                              <td>{{item.id_expert}}</td>
                              <td>{{item.nom_exp}}</td>
                              <td>{{item.pre_exp}}</td>
                              <td>{{item.mail_exp}}</td>
                              <td>{{item.tel_exp}}</td>
                              <td>{{item.login}}</td>
                              <td>{{item.pwd}}</td>


                       </tr>
                    

                        </tbody>
                    </table>
  

                </div>


                <div class="tab-pane" id="ajout">

                  <!------------------------------------------------   inscription -->

                  <form method="post" name="formulaire"  action="addexpert.php">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Nom</label>
                        <input type="text" class="form-control" name="nom" placeholder="Nom" required required data-errormessage-value-missing="Please input something">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Prénom</label>
                        <input type="text" class="form-control" name="prenom"  placeholder="Prénom" required required required data-errormessage-value-missing="Please input something">
                      </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Numéro de Télèphone</label>
                          <input type="text" class="form-control" name="tel"  placeholder="Numéro de Télèphone" required required required data-errormessage-value-missing="Please input something">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Adresse mail</label>
                          <input type="email" class="form-control" name="mail"  placeholder="Adresse mail" required required required data-errormessage-value-missing="Please input something">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Mot de Passe</label>
                          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Mot de Passe" required required required data-errormessage-value-missing="Please input something">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Confirmer Mot de Passe</label>
                          <input type="password" class="form-control" name="pwd1" id="pwd1" placeholder="Confirmer Mot de Passe" required required required data-errormessage-value-missing="Please input something">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Login</label>
                          <input type="text" class="form-control" name="login" placeholder="Login" required required required data-errormessage-value-missing="Please input something">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Image</label>
                           <div class="form-group">
                            <input type="file" class="form-control-file">
                          </div>
                        </div>
                      </div>




                    <button type="submit" class="btn btn-dark" style="font-family: 'Agency FB Bold' "  >Enregistrer</button>
                  </form>
   

                

       
                <!------------------------------------------------  end inscription -->

                
                </div>


                <div class="tab-pane" id="supprimer" ng-controller="Control3">
                    
                    <form >
                        <div class="form-row" style="margin-left: 230px" >
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Donner l'ID de l'expert à Supprimer : </label>
                         
                          
                            <input type="text" class="form-control" id="inputEmail4" placeholder="ID Expert" name="id_exp" ng-model="id_exp">
                            <button  class="btn btn-dark" style="font-family: 'Agency FB Bold' " ng-click="deletedata()"  >Supprimer</button>
                             </div>
                             
                         </div>
                            
                          
                          
                    </form>

        </div>

                
        </div>


  </div>
  </div>
 

 

</body>

</html>
