<!DOCTYPE html>
<html lang="en" >
<head>
        <title>profileClient</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        
        <link href="http://fr.allfont.net/allfont.css?fonts=agency-fb-bold" rel="stylesheet" type="text/css" />


        <style>
                .grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto;

                    grid-gap: 5mm;
                }
        
                .grid-item {
                    
                   
                    padding: 20px;
                    font-size: 30px;
                    text-align: center;
                    
                }
                .grid-footer {
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(0, 0, 0, 0.8);
        
                    font-size: 30px;
                    text-align: center;
                    
                }
        
                </style>

<style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
          font-family: arial;
        }
        
        .title {
          columns: #000000;;
          font-size: 18px;
          font-family: 'Agency FB Bold', arial ;
        }
      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 22px;
        margin-top: -20px;
        font-family: 'Agency FB Bold', arial ;
      }
      
      a {
        text-decoration: none;
        font-size: 22px;
        color: black;
      }
      
      button:hover, a:hover {
        opacity: 0.7;
      }
      </style>
    <script src="rout.js"> </script>

</head>
<body ng-app="aa" >

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
        
                <ul class="navbar-nav" id="myTab" >
                    <li class="nav-item"><a href="#11" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;" data-toggle="tab">Acceuil </a></li>
                  <li class="nav-item"><a href="#12" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:10px " data-toggle="tab">Messagerie</a></li>
        
                  <li class="nav-item"><a href="#13" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:10px" data-toggle="tab">Contact Admin</a></li>
                  <li class="nav-item"><a href="#supprimer" class="nav-link" style="color: #ffffff ;font-family: 'Agency FB Bold', arial ;padding-left:10px" data-toggle="tab">Déconnexion</a></li>

                </ul>
                <div  style="right:10px  !important ">
                
                </div>
             
              </nav>


              


              
                   <div class="row" style="padding-top: 10px"> 
                              <div class="col-sm-2" style="padding-top: 55px "><!--left col-->

                                        
                          <div class="card"  >
                                <div class="text-center">
                                    <h6>Nom Client</h6>
                                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" alt="avatar" height="50" width="50">
                                 
                                </div>
                                <a href=""><h6>Voir profil</h6> </a>
                                 <a href=""><h6>Modifier profil</h6></a>
                              </div>
                              <div class="card" style="margin-top: 5px ;  " >
                                <div class="container">
                                <img src="img/logo.png" height="50" width="100">
                                <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi natus, aut illo odit blanditiis 
                                  quas reiciendis qui fugit nam tempore ut non reprehenderit asperiores sunt perspiciatis! Sit repellat iusto
                                   sed. Lorem </p>
                                  </div>
                              </div>

                                                   
                                               
                                </div><!--/demandes-->

                                 <div class="col-sm-9">
                            
                                    
                              <div class="tab-content">
                      <div class="tab-pane active" id="11">
                      <!--contenue page 1 -->   
                                

                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="#1" data-toggle="tab" style="font-family: 'Agency FB Bold';padding-left:380px" >All</a></li>
                                        <li><a href="#2" data-toggle="tab" style="margin-left:30px;font-family: 'Agency FB Bold' ">Nutrition</a></li>
                                        <li><a href="#3" data-toggle="tab"  style="margin-left:30px;font-family: 'Agency FB Bold' ">Droit</a></li>
                                    </ul>


                             <div class="tab-content">

                                        <div class="tab-pane active" id="1">    
                                                <div class="grid-container" ng-controller="Control">
                                                        <div class="grid-item" ng-repeat="item in expert  ">
                                                      <div class="card">
                                                        
                                                        <img  src="img/{{item.id_expert}}.jpg" alt="John" height="200" width="250" >
                                                        
                                                        <h3  style="font-family: 'Agency FB Bold', arial ;font-size: 35px"><b>{{item.pre_exp}} {{item.nom_exp}}</b></h3>
                                                        
                                                        <p class="title">Domaine: {{item.domaine}}</p>
                                                        <p class="title">Spécialisé en Nutrition</p>
                                                      
                                                        <p><a href="#MyModal" data-toggle="modal" class="button" style="background-color:#B31919 " >Contact</a></p>
                                                      </div>
                                                      
                                                      
                                                      </div>
                                                      </div>
                                        </div>
                                        <div class="tab-pane " id="2">    
                                                <div class="grid-container" ng-controller="Control">
                                                        <div class="grid-item" ng-repeat="item in expert | filter: 'droit' ">
                                                      <div class="card">
                                                        
                                                        <img  src="img/{{item.id_expert}}.jpg" alt="John" style="width:100%" >
                                                        
                                                        <h3  style="font-family: 'Agency FB Bold', arial ;font-size: 35px"><b>{{item.pre_exp}} {{item.nom_exp}}</b></h3>
                                                        
                                                        <p class="title">Domaine: {{item.domaine}}</p>
                                                        <p class="title">Spécialisé en Nutrition</p>
                                                      
                                                        <p><a href="#MyModal" data-toggle="modal" class="button" style="background-color:#B31919 " >Contact</a></p>
                                                      </div>
                                                      
                                                      
                                                      </div>
                                                      </div>
                                        </div>
                                        <div class="tab-pane " id="3">   
                                                <div class="grid-container" ng-controller="Control">
                                                        <div class="grid-item" ng-repeat="item in expert | filter: 'nutrition' ">
                                                      <div class="card">
                                                        
                                                        <img  src="img/{{item.id_expert}}.jpg" alt="John" style="width:100%" >
                                                        
                                                        <h3  style="font-family: 'Agency FB Bold', arial ;font-size: 35px"><b>{{item.pre_exp}} {{item.nom_exp}}</b></h3>
                                                        
                                                        <p class="title">Domaine: {{item.domaine}}</p>
                                                        <p class="title">Spécialisé en Nutrition</p>
                                                      
                                                        <p><a href="#MyModal" data-toggle="modal" class="button" style="background-color:#B31919 " >Contact</a></p>
                                                      </div>
                                                      
                                                      
                                                      </div>
                                                      </div>
                                        </div>

                            </div>
                        </div>

                        <div class="tab-pane " id="12">   
                                   <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="#5" data-toggle="tab" style="margin-left:30px;font-family: 'Agency FB Bold' ">Nouveau contact</a></li>
                                        <li><a href="#6" data-toggle="tab" style="margin-left:30px;font-family: 'Agency FB Bold' ">boite</a></li>
                                    </ul>
                                      <div class="tab-content">

                                        <div class="tab-pane active" id="5">    
                                                <div class="container" style="width:100% !important" >

                                                        <div class="col-lg-12">
                                                                <div >
                                                                    <div class="card-body">
                                                                        <h2 align="center">Destinataire  : <b >{{dest}}</b></h2>
                                                                        <br>
                                                                        <h4 class="card-title"><b>Sujet de la demande</b></h4>
                                                                        <div class="basic-form">
                                                                            <form>
                                                                                <div class="form-group">
                                                                                    <input type="text" class="form-control input-default" placeholder="Sujet">
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                
                                                    <div class="col-lg-12">
                                                               
                                                                    <div class="card-body">
                                                                        <h4 class="card-title"><b>Coordonées</b></h4>
                                                                        <div class="basic-form">
                                                                            <form>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <input type="text" class="form-control" placeholder="Nom">
                                                                                      </div>
                                                                                      <div class="col">
                                                                                        <input type="text" class="form-control" placeholder="Prénom">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                              
                                                        </div>
                                
                                                    <div class="col-lg-12">
                                                       
                                                            <div class="card-body">
                                                                <h4 class="card-title"><b>Description </b></h4>
                                                                <div class="basic-form">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            
                                                                            <textarea class="form-control h-150px" rows="6" id="comment"></textarea>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                 
                                                    </div>
                                
                                
                                                    <div class="col-lg-12">
                                                   
                                                            <div class="card-body">
                                                                <h4 class="card-title"><b>Joindre un fichier</b></h4>
                                                                <div class="basic-form">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="file" class="form-control-file">
                                                                            <p align="right" >
                                                                                    <button class="btn btn-success" ><b>Envoyer</b></button>
                                                                                  </p>
                                                                        </div>
                                                                        
                                                                    </form>
                                                                </div>
                                                           
                                                        </div>
                                                    </div>
                                
                                </div>
             
                                        </div>

                                        </div>


                                        <div class="tab-pane " id="6">    
                                                <table class="table table-striped table-hover" ng-controller="listmsg" >
                                                        <thead>
                                                            <tr>
                                                                <th>Etat</th>
                                                                <th>sender</th>
                                                                <th>object</th>
                                                                <th>Date d'envoi</th>
                                                                 <th>view</th>
                                        
                                                            </tr>
                                                        </thead>
                                        
                                                        <tbody>
                                        
                                                       <tr  ng-repeat="item in inbox">
                                        
                                                              <td>{{item.etat}}</td>
                                                              <td>{{item.id_sender}}</td>
                                                              <td>{{item.object}}</td>
                                                              <td>{{item.time}}</td>
                                                              <td><button> voir le contenu </button></td>
                                        
                                        
                                        
                                                       </tr>
                                                    
                                        
                                                        </tbody>
                                                    </table>
                                        </div>
                                     </div>
                        </div>

                        <div class="tab-pane " id="13">    

                                <div class="container bootstrap snippet" style="padding-right : 200px;padding-top: 30px">
                                <form name="emailForm" class="form-horizontal">
      

                                        

                                        <!-- Subject field -->
                                        <div class="form-group">
                                          <label >Subject:</label>
                                          <div >
                                            
                                            <input type="text"  class="form-control" placeholder="Enter Subject">
                                          </div>
                                        </div>
                                        
                                        <div class="form-group">
                                          <label >Body:</label>
                                          <div >
                                            
                                            <textarea class="form-control" rows="5"></textarea>
                                          </div>
                                        </div>
                                  
                                        <div class="form-group">
                                          <div >
                                            <button type="submit"  class="btn btn-success pull-right">Send Email</button>
                                            <button  class="btn btn-link pull-right">Cancel</button>
                                          </div>
                                        </div>
                                        <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
                                      </form>
                                    </div>

                                      
                                    </div>
                        </div>




                                 </div>

                              </div>
                    </div>
                              







  </body>
</html>